#
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# All rights reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

service vendor.gppservice /system/bin/gppservice
    class main
    user system
    group system
    # start only when requested (comment below to start service at boot)
    disabled

