# rscmgr rc file
on property:sys.readahead.resource=1
    readahead /data/app/Notes40_Removable/Notes40_Removable.apk --fully
    readahead /system/priv-app/SamSungCamera/SamSungCamera.apk --fully
    readahead /system/priv-app/SamsungGallery2018/SamsungGallery2018.apk --fully
    setprop sys.readahead.resource 0

on property:sys.readahead.resource=2
    readahead /system/priv-app/SamsungMessages/SamsungMessages.apk --fully
    readahead /system/priv-app/SamsungDialer/SamsungDialer.apk --fully
    readahead /data/app/SamsungCalendar/SamsungCalendar.apk --fully
    setprop sys.readahead.resource 0

on property:sys.readahead.resource=3
    readahead /data/app/ClockPackage/ClockPackage.apk --fully
    readahead /data/app/SBrowser/SBrowser.apk --fully
    setprop sys.readahead.resource 0
